<table class="table table-striped table-dark mt-2">
    <thead class="thead-light">
        <tr>           
            <th>Depo Adı</th>
            <th>Satış Deposu mu?</th>   
            <th>Güncelle</th>  
            <th>Sil</th>         
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let store of stores">           
            <td>{{store.storeName}}</td>
            <td>{{store.isSalesStore}}</td>   
            <td>
                <button type="button" class="btn btn-primary" routerLink="/store/update/{{store.id}}">Güncelle</button>                
            </td> 
            <td>                
                <button type="button" class="btn btn-danger  ml-2" (click)="deleteStore(store)">Sil</button>
            </td>           
        </tr>
        <button type="button" class="btn btn-success mt-2" routerLink="/store/add">Yeni Depo Ekle</button>
    </tbody>    
</table>
