<div class="mb-3  mt-3">
    <label for="filterText" class="form-label">Ürün birimi Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Ürün birimi ismini yazınız">
</div>
<div *ngIf="filterText" class="alert alert-success">
    {{filterText}} aradınız.
</div>
<table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
        <tr>           
            <th>Ürün Birimi Adı</th>
            <th>Güncelle</th>  
            <th>Sil</th>            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products |filterPipe:filterText">            
            <td>{{product.productUnitName |uppercase}}</td>
            <td>
                <button type="button" class="btn btn-primary" routerLink="/productunit/update/{{product.id}}" (click)="setCurrentProduct(product)">Güncelle</button>                
            </td> 
            <td>                
                <button type="button" class="btn btn-danger  ml-2" (click)="deleteProductUnit(product)">Sil</button>
            </td>           
        </tr>   
        <button type="button" class="btn btn-success mt-2" routerLink="/productunits/add">Yeni Ürün Birimi Ekle</button>   
    </tbody>    
</table>