<table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
        <tr>            
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>            
            <th>Sil</th>  
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">            
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>            
            <td>                
                <button type="button" class="btn btn-danger  ml-2" *ngIf="user.email!='sami@sami.com'"  (click)="deleteUser(user)">Sil</button>
            </td>           
        </tr>
        <button type="button" class="btn btn-success mt-2 shadow" routerLink="/user/add">Yeni Kullanıcı Oluştur</button>        
    </tbody>   
</table>









