<table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
        <tr>            
            <th>Teklif Numarası</th>
            <th>Barkod</th>
            <th>Adet</th>
            <th>Teklif Edilen Fiyat</th>
            <th>Tarih</th>
            <th>Şirket</th>
            <th>Kullanıcı Adı</th>
            <th>Güncelle</th>  
            <th>Sil</th>             
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proposal of proposals">            
            <td>{{proposal.proposalNo}}</td>
            <td>{{proposal.barcode}}</td>
            <td>{{proposal.count}}</td>
            <td>{{proposal.proposalPrice |currency:"TRY":"₺":""}}</td>
            <td>{{proposal.date |date}}</td>
            <td>{{proposal.companyName}}</td>
            <td>{{proposal.userName}}</td>
            <td>
                <button type="button" class="btn btn-primary" routerLink="/proposal/update/{{proposal.id}}" >Güncelle</button>                
            </td> 
            <td>                
                <button type="button" class="btn btn-danger  ml-2" >Sil</button>
            </td>                       
        </tr>
        <button type="button" class="btn btn-success mt-2" routerLink="/proposal/add">Yeni Teklif Oluştur</button>        
    </tbody>   
</table>









