<table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
        <tr>            
            <th>Teklif Numarası</th>
            <th>Tarih</th>
            <th>Şirket</th>
            <th>Kullanıcı Adı</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proposal of proposals">            
            <td>{{proposal.proposalNo}}</td>
            <td>{{proposal.date |date}}</td>
            <td>{{proposal.companyName}}</td>
            <td>{{proposal.userName}}</td>
        </tr>
    </tbody>   
</table>









