<ul class="list-group side-bar">
    <h3 class="dropdown-header"><h5>Ürün İşlemleri</h5> </h3>
    <a class="dropdown-item" href="#">Stok Kartı</a>
    <a class="dropdown-item" href="#">Depo Stok Dağılımı</a>

    <h3 class="dropdown-header"><h5>Depo İşlemleri</h5> </h3>
    <a class="dropdown-item" href="#">Ürün Kabul</a>
    <a class="dropdown-item" href="#">Depolar Arası Transfer</a>

    <h3 class="dropdown-header"><h5>Satış İşlemleri</h5> </h3>
    <a class="dropdown-item" href="#">Kasa Çıkışı</a>
    <a class="dropdown-item" href="#">Plasiyer  Satışı</a>

    <h3 class="dropdown-header"><h5>Kullanıcı İşlemleri</h5> </h3>
    <a class="dropdown-item" href="#">Parola Değiştir</a>
    <a class="dropdown-item" href="#">Kullanıcılar</a>
    <a class="dropdown-item" href="#">Onaylanmamış Kullanıcılar</a>
    <a class="dropdown-item" href="#">Kullanıcı Rol Tanımlama</a>

    <h3 class="dropdown-header"><h5>Tanımlar</h5> </h3>
    <a class="dropdown-item" href="#">Marka Tanımları</a>
    <a class="dropdown-item" href="#">Model Tanımları</a>
    <a class="dropdown-item" href="#">Depo Tanımları</a>
    <a class="dropdown-item" href="#">Raf Tanımları</a>
    <a class="dropdown-item" href="#">Çekmece Tanımları</a>
    <a class="dropdown-item" href="#">Stok Türleri</a>
    <a class="dropdown-item" href="productunits">Ürün Birimleri Tanımları</a>
    <a class="dropdown-item" href="#">Firma Tanımları</a>
    <a class="dropdown-item" href="#">Katalog Tanımları</a>
    <a class="dropdown-item" href="exchangerate">Para Birimi Tanımları</a>
</ul>
  
    
