<ul class="list-group side-bar mb-5">
    <h3 class="dropdown-header"><h5>Ürün İşlemleri</h5> </h3>
    <a class="dropdown-item" routerLink="#">Stok Kartı</a>
    <a class="dropdown-item" routerLink="#">Depo Stok Dağılımı</a>

    <h3 class="dropdown-header"><h5>Depo İşlemleri</h5> </h3>
    <a class="dropdown-item" routerLink="#">Ürün Kabul</a>
    <a class="dropdown-item" routerLink="#">Depolar Arası Transfer</a>

    <h3 class="dropdown-header"><h5>Satış İşlemleri</h5> </h3>
    <a class="dropdown-item" routerLink="#">Kasa Çıkışı</a>
    <a class="dropdown-item" routerLink="#">Plasiyer  Satışı</a>

    <h3 class="dropdown-header"><h5>Kullanıcı İşlemleri</h5> </h3>
    <a class="dropdown-item" routerLink="#">Parola Değiştir</a>
    <a class="dropdown-item" routerLink="#">Kullanıcılar</a>
    <a class="dropdown-item" routerLink="#">Onaylanmamış Kullanıcılar</a>
    <a class="dropdown-item" routerLink="#">Kullanıcı Rol Tanımlama</a>

    <h3 class="dropdown-header"><h5>Tanımlar</h5> </h3>
    <a class="dropdown-item" routerLink="brands" >Marka Tanımları</a>
    <a class="dropdown-item" routerLink="models">Model Tanımları</a>
    <a class="dropdown-item" routerLink="stores">Depo Tanımları</a>
    <a class="dropdown-item" routerLink="#">Raf Tanımları</a>
    <a class="dropdown-item" routerLink="#">Çekmece Tanımları</a>
    <a class="dropdown-item" routerLink="#">Stok Türleri</a>
    <a class="dropdown-item" routerLink="productunits">Ürün Birimleri Tanımları</a>
    <a class="dropdown-item" routerLink="companies">Firma Tanımları</a>
    <a class="dropdown-item" routerLink="#">Katalog Tanımları</a>
    <a class="dropdown-item" routerLink="exchangerate">Para Birimi Tanımları</a>
    <a class="dropdown-item" routerLink="proposals">Teklif Tanımları</a>
</ul>
  
    
