<table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
        <tr>            
            <th>Ürün Kabul Numarası</th>
            <th>Kabul tarihi</th>
            <th>Şirket</th>
            <th>Kullanıcı Adı</th>
            <th>Güncelle</th>  
            <th>Sil</th>  
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let productAcceptance of productAcceptances">            
            <td>{{productAcceptance.productRegistrationNumber}}</td>
            <td>{{productAcceptance.acceptanceDate |date}}</td>
            <td>{{productAcceptance.companyName}}</td>
            <td>{{productAcceptance.userName}}</td>
            <td>
                <button type="button" class="btn btn-primary" routerLink="/productcceptance/update/{{productAcceptance.id}}" >Güncelle</button>                
            </td> 
            <td>                
                <button type="button" class="btn btn-danger  ml-2" >Sil</button>
            </td>           
        </tr>
        <button type="button" class="btn btn-success mt-2" routerLink="/productacceptance/add" >Yeni Ürün Kabul Oluştur</button>        
    </tbody>   
</table>










