<div class="content mt-3 shadow" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Ürün Çıkışı</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="productOutputAddForm">

                    <label for="exitNumber">Ürün Çıkış No</label>
                    <div class="form-group mt-1 mb-1">
                        <input class="form-control" 
                        type="text"
                        formControlName="exitNumber"                                                                                          
                        />
                    </div>
                    
                    <label for="productAcceptanceId">Ürünler</label>                   
                    <select (ngModelChange)="getProductId($event)" class="form-select mt-1 mb-1" formControlName="productAcceptanceId">                       
                        <option [ngValue]="stockStore.productAcceptanceId" *ngFor="let stockStore of stockStores">{{stockStore.productName}}</option>                                                                    
                    </select>

                    <label for="barcode">Barkod</label>
                    <div class="form-group mt-1 mb-1">
                        <input class="form-control" 
                        type="text"
                        formControlName="barcode"  
                        [(ngModel)]="productBarcode" 
                        readonly                                                                                                           
                        />
                    </div>

                    <label for="count">Ürün Adedi</label>
                    <div class="form-group mt-1 mb-1">
                        <input class="form-control" 
                        type="number"
                        min="1"
                        formControlName="count" 
                        placeholder="Maximum girebileceğiniz adet: {{productCount}}"                                                                                        
                        />
                    </div>

                    <label for="unitPrice">Satış Fiyatı</label>
                    <div class="form-group mt-1 mb-1">
                        <input class="form-control" 
                        type="number"
                        min="1"
                        formControlName="unitPrice"                                               
                                                                                       
                        />
                    </div>

                    <label for="totalPrice">Toplam Fiyat</label>
                    <div class="form-group mt-1 mb-1">
                        <input class="form-control" 
                        type="number"
                        formControlName="totalPrice" 
                                                                                                         
                        />
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="date" class="col-2 col-form-label">Tarih</label>
                            <div class="form-group mb-3">                        
                                <div class="col-10">
                                    <input class="form-control"
                                    type="date"
                                    formControlName="date">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="userId" class="mt-2">Kullanıcı</label>                   
                            <select class="form-select mt-1 mb-3" formControlName="userId">                       
                                <option  [ngValue]="user.id" *ngFor="let user of users">{{user.firstName +" "+user.lastName}}</option>                                                                    
                            </select>
                        </div>
                        <div class="col">
                            <label for="companyId" class="mt-2">Şirket</label>                   
                            <select class="form-select mt-1 mb-3" formControlName="companyId">                       
                                <option  [ngValue]="company.id" *ngFor="let company of companies">{{company.companyName}}</option>                                                                    
                            </select>
                        </div>
                      </div>
                                                                            
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" routerLink="/productoutputs" (click)="addProductOutput()">Ürün Çıkış Oluştur</button>
            </div>
        </div>
    </div>   
</div>
