<div class="mb-3  mt-3">
    <label for="filterText" class="form-label">Barkod Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Barkod numarasını giriniz">
</div>
<table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
        <tr>            
            <th>Ürün Adı</th>
            <th>Ürün Birimi Adı</th>
            <th>Birim Fiyatı</th>            
            <th>Adet</th>
            <th>Barkod</th>
            <th>Depo Adı</th>            
            <th>Raf Adı</th>  
            <th>Çekmece Adı</th>          
            <th>Güncelle</th>  
            <th>Sil</th>  
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stockStore of stockStores">            
            <td>{{stockStore.productName}}</td>
            <td>{{stockStore.productUnitName}}</td>
            <td>{{stockStore.unitPrice |currency:"TRY":"₺":""}}</td>             
            <td>{{stockStore.count}}</td>           
            <td>{{stockStore.barcode}}</td>
            <td>{{stockStore.storeName}}</td>
            <td>{{stockStore.shelfName}}</td>
            <td>{{stockStore.drawerName}}</td>
            <td>
                <button type="button" class="btn btn-primary" routerLink="/stockstore/update/{{stockStore.id}}" >Güncelle</button>                
            </td> 
            <td>                
                <button type="button" class="btn btn-danger  ml-2" >Sil</button>
            </td>           
        </tr>
        <button type="button" class="btn btn-success mt-2" routerLink="/stockstore/add">Yeni Ürün Ekle</button>        
    </tbody>   
</table>
